/* common buttons */
.active-button {
  box-shadow: 0 6px 12px 0 rgba(11, 79, 230, 0.28);
  background-color: #0b4fe6;
  font-size: 13px;
  border: 1px solid #0b4fe6;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none!important;
}
.active-button:hover {
  background-color: #0d4acc;
  border: 1px solid #0d4acc;
}
.inActive-button {
  box-shadow: 0 6px 12px 0 rgba(11, 79, 230, 0.28);
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #0b4fe6;
  color: #0b4fe6;
  font-weight: 600;
  cursor: pointer;
  outline: none!important;
}
.inActive-button:hover {
  background-color: #0b4fe6;
  color: #fff;
}

/* border-radius */
.br-radius7{
    border-radius: 7px;
}
.br-radius20{
    border-radius: 20px;
}
.br-radius35{
    border-radius: 35px;
}

/* positions */
.top-0{
  top: 0;
}
.bottom-0{
  bottom: 0;
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}

/* indexes */
.z-index-1{
  z-index: 1;
}