/* height */
.h-5px{
    height: 5px;
}
.h-10px{
    height: 10px;
}
.h-15px{
    height: 15px;
}
.h-18px{
    height: 18px;
}
.h-22px{
    height: 22px;
}
.h-30px{
    height: 30px;
}
.h-40px{
    height: 40px;
}
.h-45px{
    height: 45px;
}
.h-50px{
    height: 50px;
}
.h-100px{
    height: 100px;
}
.h-250px{
    height: 250px;
}
.h-265px{
    height: 265px;
}
.h-290px{
    height: 290px;
}
.h-fitContent{
    height: fit-content;
}
/* width */
.w-61per{
    width: 61%;
}
.w-60per{
    width: 60%;
}
.w-70per{
    width: 70%;
}
.w-85per{
    width: 85%;
}
.w-90per{
    width: 90%;
}
.w-100per{
    width: 100%;
}